body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Russo One', sans-serif;
  margin: auto;
  width: 400px;
}

h1 {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}

p {
  padding: 0;
  margin: 0;
}

.game-overlay {
  display: flex;
  height: 400px;
  opacity: 0.5;
  width: 400px;
}

.game-over-overlay {
  display: flex;
  display: none;
  height: 400px;
  opacity: 0.5;
  width: 400px;
}

.game-over-message, .game-instructions {
  padding-top: 140px;
  text-align: center;
}

#game-canvas {
  background: url(../images/background-grid.png) no-repeat;
  background-position: left top;
  background-size: 400px;
  height: 400px;
  margin: auto;
  width: 400px;
}

#game-score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 15px;
}

.user-interaction {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: flex-end;
  padding-right: 40px;
  padding-top: 20px;
}

#start-button {
  background: url(../images/play-button.png) no-repeat;
  background-color: transparent;
  background-size: 50px;
  border: none;
  display: flex;
  height: 50px;
  margin-right: 20px;
  width: 50px;
}

#reset-button {
 background: url(../images/refresh-button.png) no-repeat;
 background-color: transparent;
 background-size: 50px;
 border: none;
 height: 50px;
 width: 50px;
 display: flex;
}
